.pokeCard{
  /* position: relative; */
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  max-width: 320px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pokeCard_img{
  height: 120px;
}

.poke-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  /* text-align: center; */
}

.pokeCard_title{
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  grid-column: 1/span 2;
}

.types{
  display: flex;
  /* justify-content: center; */
  width: fit-content;
  margin-top: 5px;
}

.type{
  background-color: blue;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
  text-transform: capitalize;
  
}

.pokeCard_id{
  font-weight: bold;
  font-size: 28px;
  color: rgb(107, 107, 107);
  justify-self: end;
  margin-right: 15px;
}

/*Background color*/

.grass{
  background-color:rgb(148,203,169) ;
}

.type-grass{
  background-color: rgb(105, 167, 129);
}

.fire{
  background-color: rgb(243,204,160);
}

.type-fire{
  background-color: rgb(212, 165, 111);
}

.water{
  background-color: rgb(118,189,255);
}

.type-water{
  background-color: rgb(74, 150, 221);
}

.electric{
  background-color: rgb(255,215,111);
}

.type-electric{
  background-color: rgb(214, 173, 70);
}

.bug{
  background-color: rgb(99, 231, 116);
}
.type-bug{
  background-color: rgb(71, 161, 83);
}

.poison{
  background-color: rgb(136, 24, 192);
}

.type-poison{
  background-color: rgb(93, 31, 124);
}

.normal{
  background-color: rgb(64, 52, 119);
}

.type-normal{
  background-color: rgb(32, 16, 100);
}

.ground{
  background-color: rgb(235, 168, 80);
}
.type-ground{
  background-color: rgb(197, 148, 84);
}

.fairy{
  background-color: rgb(238, 148, 196);
}
.type-fairy{
  background-color: rgb(209, 119, 167);
}


/*Modal*/
/*Falta sacer el scroll al abrir modal*/
.pokeCard_modal{
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.showModal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModal{
  position: relative;
  height: 500px;
  width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 18px;
  display: grid;
  text-align: center;
}

.no-scroll{
  overflow: hidden;
}

.cardModal img{
  width: 350px;
}



.close{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

@media (max-width:425px){
  .cardModal{
    width: 80%;
  }

  .cardModal img{
    width: 100%;
  }
}